@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>MS-Toys</h1>
    <p class="lead">
        MS-Toys is an online store, a really cool store. You can buy here from the highest quality board games,
        family games and anything you can imagine. (Very exaggerated here.)
    </p>
    <p><a href="google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started on chess</h2>
        <p>
            Chess is hard, man. Here you can find a guide on how to become the next chess grandmaster.
        </p>
        <p><a class="btn btn-default" href="google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more games</h2>
        <p>You never have enough board games. Get more from our online store. Prices are very low! (+15$)</p>
        <p><a class="btn btn-default" href="google.com">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Game Hosting</h2>
        <p>You can easily find a game hosting company that offers the right mix of features and price for your online board games and championships.</p>
        <p><a class="btn btn-default" href="google.com">Learn more &raquo;</a></p>
    </div>
</div>